/* 全局样式表 */
html,
body,
#app{
    height:100%;
    margin:0;
    padding:0;
}

.el-breadcrumb{
    margin-bottom: 15px ;
    font-size: 12px;
}

.el-card{
    /* margin-bottom: 15px; */
    box-shadow: 0 0px 5px rgba(71, 71, 71, 0.15) !important;
}

.el-table{
    /* margin-top: 15px; */
    font-size: 12px;
}

.el-pagination{
    margin-top: 15px;
}

.el-input{
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: auto;
    margin-right: 40px;
}

.el-autocomplete{
    margin-right: 35px;
}

.el-button{
    margin-left: 15px;
}

.el-container{
    box-shadow: 0 0px 10px rgba(68, 68, 68, 0.15)
}

.slide-right-enter-active,
.slide-right-leave-active,
.slide-left-enter-active,
.slide-left-leave-active {
   will-change: transform;
  transition: all 500ms;
  position: absolute;
}.slide-right-enter {
  opacity: 0;
  transform: translate3d(-100%, 0, 0);
 }.slide-right-leave-active {
   opacity: 0;
   transform: translate3d(100%, 0, 0);
 }.slide-left-enter {
  opacity: 0;
   transform: translate3d(100%, 0, 0);
 }.slide-left-leave-active {
  opacity: 0;
  transform: translate3d(-100%, 0, 0);
 }
